version: '2'
services:
    ckan:
        build: ./ckan
        #command: "/usr/sbin/apache2ctl -D FOREGROUND" 
        ports:
          - "80:80"
        volumes:
          - ./ckan/data/ckan_storage:/ckan_storage
            #- ./ckan/ckan:/ckan
    db:
      image: mdillon/postgis:9.6
      environment: 
        - POSTGRES_PASSWORD=pass
        - POSTGRES_USER=ckan_default
      volumes:
          - db:/var/lib/postgresql/data

    redis:
      image: redis

    solr:
      build: solr/
      ports:
       - "8983:8983"

volumes: 
  db:
